lib/LaTeXML/schema/dtd/DLMF.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT ns1:text (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                    |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                    |break|graphics|electroniconly|printonly|tabular
                    |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:text
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  font CDATA #IMPLIED
  size CDATA #IMPLIED
  color CDATA #IMPLIED
  framed (rectangle|underline) #IMPLIED>

<!ELEMENT ns1:emph (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                    |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                    |break|graphics|electroniconly|printonly|tabular
                    |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:emph
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:acronym (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:acronym
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #REQUIRED>

<!ELEMENT ns1:rule EMPTY>
<!ATTLIST ns1:rule
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED>

<!ELEMENT ns1:ref (#PCDATA|text|emph|acronym|rule|anchor|ref|cite|bibref
                   |email|VRML|GAMS|Math|inline-block|verbatim|break
                   |graphics|electroniconly|printonly|tabular|picture
                   |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:ref
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  idref IDREF #IMPLIED
  labelref CDATA #IMPLIED
  href CDATA #IMPLIED
  show CDATA #IMPLIED
  title CDATA #IMPLIED>

<!ELEMENT ns1:anchor (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                      |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                      |break|graphics|electroniconly|printonly|tabular
                      |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:anchor
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:cite (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                    |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                    |break|graphics|electroniconly|printonly|tabular
                    |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:cite
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bibref (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                      |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                      |break|graphics|electroniconly|printonly|tabular
                      |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bibref
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  idref IDREF #IMPLIED
  bibrefs CDATA #IMPLIED
  show CDATA #IMPLIED>

<!ELEMENT ns1:note (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                    |bibref|email|VRML|GAMS|Math|p|equation
                    |equationgroup|quote|centering|block|itemize
                    |enumerate|description|inline-block|verbatim|break
                    |graphics|electroniconly|printonly|tabular|picture
                    |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:note
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  mark CDATA #IMPLIED>

<!ELEMENT ns1:ERROR (#PCDATA)*>
<!ATTLIST ns1:ERROR
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:indexmark (indexphrase)*>
<!ATTLIST ns1:indexmark
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  see_also CDATA #IMPLIED
  style CDATA #IMPLIED>

<!ELEMENT ns1:indexphrase (#PCDATA|text|emph|acronym|rule|anchor|ref
                           |cite|bibref|email|VRML|GAMS|Math
                           |inline-block|verbatim|break|graphics
                           |electroniconly|printonly|tabular|picture
                           |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:indexphrase
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  key CDATA #IMPLIED>

<!ELEMENT ns1:email (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                     |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                     |break|graphics|electroniconly|printonly|tabular
                     |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:email
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:VRML EMPTY>
<!ATTLIST ns1:VRML
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  href CDATA #IMPLIED>

<!ELEMENT ns1:GAMS EMPTY>
<!ATTLIST ns1:GAMS
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class CDATA #IMPLIED
  package CDATA #IMPLIED
  module CDATA #IMPLIED
  module_id CDATA #IMPLIED>

<!ELEMENT ns1:p (#PCDATA|text|emph|acronym|rule|anchor|ref|cite|bibref
                 |email|VRML|GAMS|Math|inline-block|verbatim|break
                 |graphics|electroniconly|printonly|tabular|picture
                 |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:p
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:centering (caption|toccaption
                         |(p|equation|equationgroup|quote|centering
                           |block|itemize|enumerate|description
                           |inline-block|verbatim|break|graphics
                           |electroniconly|printonly|tabular|picture
                           |indexmark|ERROR|declare|mark)*)*>
<!ATTLIST ns1:centering
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:constraint (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                          |bibref|email|VRML|GAMS|Math|inline-block
                          |verbatim|break|graphics|electroniconly
                          |printonly|tabular|picture|indexmark|ERROR
                          |declare|mark)*>
<!ATTLIST ns1:constraint
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  hidden NMTOKEN #IMPLIED>

<!ELEMENT ns1:equation (Math|MathFork|text|tabular|indexmark|ERROR
                        |declare|mark|constraint|metadata)*>
<!ATTLIST ns1:equation
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:equationgroup (equationgroup|equation|block|indexmark
                             |ERROR|declare|mark|constraint|metadata)*>
<!ATTLIST ns1:equationgroup
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:MathFork (Math,MathBranch*)>
<!ATTLIST ns1:MathFork
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:MathBranch (Math|tr|td)*>
<!ATTLIST ns1:MathBranch
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  format CDATA #IMPLIED>

<!ELEMENT ns1:quote (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                     |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                     |break|graphics|electroniconly|printonly|tabular
                     |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:quote
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:block (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                     |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                     |break|graphics|electroniconly|printonly|tabular
                     |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:block
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED>

<!ELEMENT ns1:break EMPTY>
<!ATTLIST ns1:break
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:inline-block (#PCDATA|text|emph|acronym|rule|anchor|ref
                            |cite|bibref|email|VRML|GAMS|Math
                            |inline-block|verbatim|break|graphics
                            |electroniconly|printonly|tabular|picture
                            |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:inline-block
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED>

<!ELEMENT ns1:verbatim (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:verbatim
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  font CDATA #IMPLIED>

<!ELEMENT ns1:itemize (item)*>
<!ATTLIST ns1:itemize
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:enumerate (item)*>
<!ATTLIST ns1:enumerate
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:description (item)*>
<!ATTLIST ns1:description
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:item (tag?,
                    (p|equation|equationgroup|quote|centering|block
                     |itemize|enumerate|description|inline-block
                     |verbatim|break|graphics|electroniconly|printonly
                     |tabular|picture|indexmark|ERROR|declare|mark)*)>
<!ATTLIST ns1:item
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:tag (#PCDATA|text|emph|acronym|rule|anchor|ref|cite|bibref
                   |email|VRML|GAMS|Math|inline-block|verbatim|break
                   |graphics|electroniconly|printonly|tabular|picture
                   |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:tag
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED>

<!ELEMENT ns1:graphics EMPTY>
<!ATTLIST ns1:graphics
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  imagesrc CDATA #IMPLIED
  imagewidth CDATA #IMPLIED
  imageheight CDATA #IMPLIED
  description CDATA #IMPLIED
  graphic CDATA #REQUIRED
  options CDATA #IMPLIED>

<!ELEMENT ns1:para (p|equation|equationgroup|quote|centering|block
                    |itemize|enumerate|description|inline-block|verbatim
                    |break|graphics|electroniconly|printonly|tabular
                    |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:para
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:theorem (title?,
                       (p|equation|equationgroup|quote|centering|block
                        |itemize|enumerate|description|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*)>
<!ATTLIST ns1:theorem
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:proof (title?,
                     (p|equation|equationgroup|quote|centering|block
                      |itemize|enumerate|description|inline-block
                      |verbatim|break|graphics|electroniconly|printonly
                      |tabular|picture|indexmark|ERROR|declare|mark)*)>
<!ATTLIST ns1:proof
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:figure ((p|equation|equationgroup|quote|centering|block
                       |itemize|enumerate|description|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*
                      |caption|toccaption|metadata)*>
<!ATTLIST ns1:figure
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  placement CDATA #IMPLIED>

<!ELEMENT ns1:table ((p|equation|equationgroup|quote|centering|block
                      |itemize|enumerate|description|inline-block
                      |verbatim|break|graphics|electroniconly|printonly
                      |tabular|picture|indexmark|ERROR|declare|mark)*
                     |caption|toccaption|metadata)*>
<!ATTLIST ns1:table
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  placement CDATA #IMPLIED>

<!ELEMENT ns1:caption (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:caption
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:toccaption (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                          |bibref|email|VRML|GAMS|Math|inline-block
                          |verbatim|break|graphics|electroniconly
                          |printonly|tabular|picture|indexmark|ERROR
                          |declare|mark)*>
<!ATTLIST ns1:toccaption
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:figuregroup (figure)*>
<!ATTLIST ns1:figuregroup
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:tablegroup (table)*>
<!ATTLIST ns1:tablegroup
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:begin_onecolumn EMPTY>
<!ATTLIST ns1:begin_onecolumn
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:end_onecolumn EMPTY>
<!ATTLIST ns1:end_onecolumn
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:electroniconly (#PCDATA|text|emph|acronym|rule|anchor|ref
                              |cite|bibref|email|VRML|GAMS|Math|p
                              |equation|equationgroup|quote|centering
                              |block|itemize|enumerate|description
                              |inline-block|verbatim|break|graphics
                              |electroniconly|printonly|tabular|picture
                              |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:electroniconly
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:printonly (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                         |bibref|email|VRML|GAMS|Math|p|equation
                         |equationgroup|quote|centering|block|itemize
                         |enumerate|description|inline-block|verbatim
                         |break|graphics|electroniconly|printonly
                         |tabular|picture|indexmark|ERROR|declare
                         |mark)*>
<!ATTLIST ns1:printonly
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:origref (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:origref
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  ref CDATA #IMPLIED>

<!ELEMENT ns1:declare (tag)?>
<!ATTLIST ns1:declare
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  xml:id ID #IMPLIED>

<!ELEMENT ns1:mark (tag?,text)>
<!ATTLIST ns1:mark
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  type CDATA #IMPLIED
  sortkey CDATA #IMPLIED>

<!ELEMENT ns1:metadata (note|origref|indexkeyword|acknowledgements)*>
<!ATTLIST ns1:metadata
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  xml:id ID #IMPLIED>

<!ELEMENT ns1:indexkeyword (#PCDATA|text|emph|acronym|rule|anchor|ref
                            |cite|bibref|email|VRML|GAMS|Math
                            |inline-block|verbatim|break|graphics
                            |electroniconly|printonly|tabular|picture
                            |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:indexkeyword
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  key CDATA #IMPLIED>

<!ELEMENT ns1:Math (XMath)*>
<!ATTLIST ns1:Math
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  imagesrc CDATA #IMPLIED
  imagewidth CDATA #IMPLIED
  imageheight CDATA #IMPLIED
  description CDATA #IMPLIED
  mode (display|inline) #IMPLIED
  tex CDATA #IMPLIED
  content-tex CDATA #IMPLIED
  text CDATA #IMPLIED>

<!ELEMENT ns1:XMath (XMApp|XMTok|XMRef|XMHint|XMArg|XMWrap|XMDual|XMText
                     |XMArray)*>
<!ATTLIST ns1:XMath
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:XMTok (#PCDATA)*>
<!ATTLIST ns1:XMTok
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  omcd CDATA #IMPLIED
  style CDATA #IMPLIED
  font CDATA #IMPLIED
  size CDATA #IMPLIED
  color CDATA #IMPLIED
  scriptpos CDATA #IMPLIED
  thickness CDATA #IMPLIED>

<!ELEMENT ns1:XMApp (XMApp|XMTok|XMRef|XMHint|XMArg|XMWrap|XMDual|XMText
                     |XMArray)*>
<!ATTLIST ns1:XMApp
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  scriptpos CDATA #IMPLIED>

<!ELEMENT ns1:XMDual ((XMApp|XMTok|XMRef|XMHint|XMArg|XMWrap|XMDual
                       |XMText|XMArray),
                      (XMApp|XMTok|XMRef|XMHint|XMArg|XMWrap|XMDual
                       |XMText|XMArray))>
<!ATTLIST ns1:XMDual
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:XMHint EMPTY>
<!ATTLIST ns1:XMHint
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  style CDATA #IMPLIED>

<!ELEMENT ns1:XMText (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                      |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                      |break|graphics|electroniconly|printonly|tabular
                      |picture)*>
<!ATTLIST ns1:XMText
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:XMWrap (XMApp|XMTok|XMRef|XMHint|XMArg|XMWrap|XMDual
                      |XMText|XMArray)*>
<!ATTLIST ns1:XMWrap
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  style CDATA #IMPLIED>

<!ELEMENT ns1:XMArg (XMApp|XMTok|XMRef|XMHint|XMArg|XMWrap|XMDual|XMText
                     |XMArray)*>
<!ATTLIST ns1:XMArg
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED
  rule CDATA #IMPLIED>

<!ELEMENT ns1:XMRef EMPTY>
<!ATTLIST ns1:XMRef
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED
  idref IDREF #IMPLIED>

<!ELEMENT ns1:XMArray (XMRow)*>
<!ATTLIST ns1:XMArray
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  dec_id CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  style CDATA #IMPLIED
  vattach (top|bottom) #IMPLIED
  width CDATA #IMPLIED>

<!ELEMENT ns1:XMRow (XMCell)*>
<!ATTLIST ns1:XMRow
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:XMCell (XMApp|XMTok|XMRef|XMHint|XMArg|XMWrap|XMDual
                      |XMText|XMArray)*>
<!ATTLIST ns1:XMCell
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  colspan CDATA #IMPLIED
  rowpan CDATA #IMPLIED
  align CDATA #IMPLIED
  width CDATA #IMPLIED
  border CDATA #IMPLIED
  thead NMTOKEN #IMPLIED>

<!ELEMENT ns1:tabular (thead|tfoot|tbody|tr)*>
<!ATTLIST ns1:tabular
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  width CDATA #IMPLIED>

<!ELEMENT ns1:thead (tr)*>
<!ATTLIST ns1:thead
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:tfoot (tr)*>
<!ATTLIST ns1:tfoot
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:tbody (tr)*>
<!ATTLIST ns1:tbody
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:tr (td)*>
<!ATTLIST ns1:tr
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:td (#PCDATA|text|emph|acronym|rule|anchor|ref|cite|bibref
                  |email|VRML|GAMS|Math|p|equation|equationgroup|quote
                  |centering|block|itemize|enumerate|description
                  |inline-block|verbatim|break|graphics|electroniconly
                  |printonly|tabular|picture|indexmark|ERROR|declare
                  |mark)*>
<!ATTLIST ns1:td
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  colspan CDATA #IMPLIED
  rowspan CDATA #IMPLIED
  align CDATA #IMPLIED
  width CDATA #IMPLIED
  border CDATA #IMPLIED
  thead NMTOKEN #IMPLIED>

<!ELEMENT ns1:picture (g|rect|line|circle|path|arc|wedge|ellipse|polygon
                       |bezier|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:picture
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED
  imagesrc CDATA #IMPLIED
  imagewidth CDATA #IMPLIED
  imageheight CDATA #IMPLIED
  description CDATA #IMPLIED
  clip NMTOKEN #IMPLIED
  baseline CDATA #IMPLIED
  unitlength CDATA #IMPLIED
  xunitlength CDATA #IMPLIED
  yunitlength CDATA #IMPLIED
  tex CDATA #IMPLIED
  content-tex CDATA #IMPLIED>

<!ELEMENT ns1:g (g|rect|line|circle|path|arc|wedge|ellipse|polygon
                 |bezier|text|emph|acronym|rule|anchor|ref|cite|bibref
                 |email|VRML|GAMS|Math|inline-block|verbatim|break
                 |graphics|electroniconly|printonly|tabular|picture
                 |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:g
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED
  pos CDATA #IMPLIED
  framed NMTOKEN #IMPLIED
  frametype (rect|circle|oval) #IMPLIED
  fillframe NMTOKEN #IMPLIED
  boxsep CDATA #IMPLIED
  shadowbox NMTOKEN #IMPLIED
  doubleline NMTOKEN #IMPLIED>

<!ELEMENT ns1:rect EMPTY>
<!ATTLIST ns1:rect
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:line EMPTY>
<!ATTLIST ns1:line
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:polygon EMPTY>
<!ATTLIST ns1:polygon
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:wedge EMPTY>
<!ATTLIST ns1:wedge
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:arc EMPTY>
<!ATTLIST ns1:arc
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:circle EMPTY>
<!ATTLIST ns1:circle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:ellipse EMPTY>
<!ATTLIST ns1:ellipse
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:path EMPTY>
<!ATTLIST ns1:path
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:bezier EMPTY>
<!ATTLIST ns1:bezier
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:chapter ((subtitle|date|abstract|keywords|classification
                        |sidebar|gallery|copyright|title|toctitle
                        |creator|metadata|indexmark|ERROR|declare
                        |mark)*,
                       part*)>
<!ATTLIST ns1:chapter
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:part ((title|toctitle|creator|metadata|indexmark|ERROR
                     |declare|mark)*,
                    section*)>
<!ATTLIST ns1:part
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:creator (personname|contact|inline-block|verbatim|break
                       |graphics|electroniconly|printonly|tabular
                       |picture)*>
<!ATTLIST ns1:creator
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  idref CDATA #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:document ((subtitle|date|abstract|acknowledgements
                         |keywords|classification|title|toctitle|creator
                         |metadata)*,
                        (para|theorem|proof|figure|table|figuregroup
                         |tablegroup|begin_onecolumn|end_onecolumn
                         |indexmark|ERROR|declare|mark)*,
                        paragraph*,section*,chapter*,part*,
                        (bibliography|appendix|index)*)>
<!ATTLIST ns1:document
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:section ((title|toctitle|creator|metadata)*,
                       (para|theorem|proof|figure|table|figuregroup
                        |tablegroup|begin_onecolumn|end_onecolumn
                        |indexmark|ERROR|declare|mark)*,
                       subparagraph*,paragraph*,subsection*)>
<!ATTLIST ns1:section
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:appendix ((title|toctitle|creator|metadata)*,
                        (para|theorem|proof|figure|table|figuregroup
                         |tablegroup|begin_onecolumn|end_onecolumn
                         |indexmark|ERROR|declare|mark)*,
                        subparagraph*,paragraph*,subsection*,section*)>
<!ATTLIST ns1:appendix
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:subsection ((title|toctitle|creator|metadata)*,
                          (para|theorem|proof|figure|table|figuregroup
                           |tablegroup|begin_onecolumn|end_onecolumn
                           |indexmark|ERROR|declare|mark)*,
                          subparagraph*,paragraph*,subsubsection*)>
<!ATTLIST ns1:subsection
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:subsubsection ((title|toctitle|creator|metadata)*,
                             (para|theorem|proof|figure|table
                              |figuregroup|tablegroup|begin_onecolumn
                              |end_onecolumn|indexmark|ERROR|declare
                              |mark)*,
                             subparagraph*,paragraph*)>
<!ATTLIST ns1:subsubsection
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:paragraph ((title|toctitle|creator|metadata)*,
                         (para|theorem|proof|figure|table|figuregroup
                          |tablegroup|begin_onecolumn|end_onecolumn
                          |indexmark|ERROR|declare|mark)*,
                         subparagraph*)>
<!ATTLIST ns1:paragraph
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:subparagraph ((title|toctitle|creator|metadata)*,
                            (para|theorem|proof|figure|table|figuregroup
                             |tablegroup|begin_onecolumn|end_onecolumn
                             |indexmark|ERROR|declare|mark)*)>
<!ATTLIST ns1:subparagraph
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:bibliography ((subtitle|date|abstract|acknowledgements
                             |keywords|classification)*,
                            (title|toctitle|creator|metadata)*,
                            biblist*)>
<!ATTLIST ns1:bibliography
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  files CDATA #IMPLIED>

<!ELEMENT ns1:index ((title|toctitle|creator|metadata)*,indexlist*)>
<!ATTLIST ns1:index
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:indexlist (indexentry)*>
<!ATTLIST ns1:indexlist
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:indexentry (indexphrase,indexrefs?,indexlist?)>
<!ATTLIST ns1:indexentry
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:indexrefs (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                         |bibref|email|VRML|GAMS|Math|inline-block
                         |verbatim|break|graphics|electroniconly
                         |printonly|tabular|picture|indexmark|ERROR
                         |declare|mark)*>
<!ATTLIST ns1:indexrefs
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:title (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                     |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                     |break|graphics|electroniconly|printonly|tabular
                     |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:title
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:toctitle (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:toctitle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:subtitle (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:subtitle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:personname (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                          |bibref|email|VRML|GAMS|Math|inline-block
                          |verbatim|break|graphics|electroniconly
                          |printonly|tabular|picture|indexmark|ERROR
                          |declare|mark)*>
<!ATTLIST ns1:personname
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:contact (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:contact
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:date (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                    |bibref|email|VRML|GAMS|Math|inline-block|verbatim
                    |break|graphics|electroniconly|printonly|tabular
                    |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:date
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:abstract (p|equation|equationgroup|quote|centering|block
                        |itemize|enumerate|description|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:abstract
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:acknowledgements (#PCDATA|text|emph|acronym|rule|anchor
                                |ref|cite|bibref|email|VRML|GAMS|Math
                                |inline-block|verbatim|break|graphics
                                |electroniconly|printonly|tabular
                                |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:acknowledgements
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:keywords (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:keywords
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:classification (#PCDATA|text|emph|acronym|rule|anchor|ref
                              |cite|bibref|email|VRML|GAMS|Math
                              |inline-block|verbatim|break|graphics
                              |electroniconly|printonly|tabular|picture
                              |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:classification
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  scheme CDATA #IMPLIED>

<!ELEMENT ns1:sidebar ((subtitle|date|abstract|acknowledgements|keywords
                        |classification|title|toctitle|creator
                        |metadata)*,
                       (para|theorem|proof|figure|table|figuregroup
                        |tablegroup|begin_onecolumn|end_onecolumn
                        |indexmark|ERROR|declare|mark)*)>
<!ATTLIST ns1:sidebar
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  name CDATA #IMPLIED>

<!ELEMENT ns1:gallery (galleryitem)*>
<!ATTLIST ns1:gallery
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:galleryitem (graphics)*>
<!ATTLIST ns1:galleryitem
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  graphic CDATA #IMPLIED
  name CDATA #IMPLIED
  labelref CDATA #IMPLIED>

<!ELEMENT ns1:copyright (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                         |bibref|email|VRML|GAMS|Math|inline-block
                         |verbatim|break|graphics|electroniconly
                         |printonly|tabular|picture|indexmark|ERROR
                         |declare|mark)*>
<!ATTLIST ns1:copyright
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  year CDATA #IMPLIED>

<!ELEMENT ns1:notations ((title|toctitle|creator|metadata)*,
                         notationlist*)>
<!ATTLIST ns1:notations
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED>

<!ELEMENT ns1:notationlist (notationitem)*>
<!ATTLIST ns1:notationlist
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:notationitem (tag,text)>
<!ATTLIST ns1:notationitem
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:biblist (bibentry|bibitem)*>
<!ATTLIST ns1:biblist
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bibentry (bib-author|bib-editor|bib-translator|bib-title
                        |bib-subtitle|bib-booktitle|bib-key|bib-journal
                        |bib-series|bib-conference|bib-publisher
                        |bib-organization|bib-institution|bib-address
                        |bib-volume|bib-number|bib-pages|bib-part
                        |bib-date|bib-edition|bib-status|bib-type
                        |bib-language|bib-url|bib-note|bib-identifier
                        |bib-review|bib-links)*>
<!ATTLIST ns1:bibentry
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  key CDATA #REQUIRED
  type CDATA #REQUIRED>

<!ELEMENT ns1:bib-author (surname,givenname?,initials?,lineage?)>
<!ATTLIST ns1:bib-author
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-editor (surname,givenname?,initials?,lineage?)>
<!ATTLIST ns1:bib-editor
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-translator (surname,givenname?,initials?,lineage?)>
<!ATTLIST ns1:bib-translator
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:surname (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:surname
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:givenname (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                         |bibref|email|VRML|GAMS|Math|inline-block
                         |verbatim|break|graphics|electroniconly
                         |printonly|tabular|picture|indexmark|ERROR
                         |declare|mark)*>
<!ATTLIST ns1:givenname
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:initials (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:initials
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:lineage (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:lineage
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:bib-title (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                         |bibref|email|VRML|GAMS|Math|inline-block
                         |verbatim|break|graphics|electroniconly
                         |printonly|tabular|picture|indexmark|ERROR
                         |declare|mark)*>
<!ATTLIST ns1:bib-title
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-subtitle (#PCDATA|text|emph|acronym|rule|anchor|ref
                            |cite|bibref|email|VRML|GAMS|Math
                            |inline-block|verbatim|break|graphics
                            |electroniconly|printonly|tabular|picture
                            |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-subtitle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-booktitle (#PCDATA|text|emph|acronym|rule|anchor|ref
                             |cite|bibref|email|VRML|GAMS|Math
                             |inline-block|verbatim|break|graphics
                             |electroniconly|printonly|tabular|picture
                             |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-booktitle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-key (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-key
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-journal (#PCDATA|text|emph|acronym|rule|anchor|ref
                           |cite|bibref|email|VRML|GAMS|Math
                           |inline-block|verbatim|break|graphics
                           |electroniconly|printonly|tabular|picture
                           |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-journal
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-series (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                          |bibref|email|VRML|GAMS|Math|inline-block
                          |verbatim|break|graphics|electroniconly
                          |printonly|tabular|picture|indexmark|ERROR
                          |declare|mark)*>
<!ATTLIST ns1:bib-series
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-conference (#PCDATA|text|emph|acronym|rule|anchor|ref
                              |cite|bibref|email|VRML|GAMS|Math
                              |inline-block|verbatim|break|graphics
                              |electroniconly|printonly|tabular|picture
                              |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-conference
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-publisher (#PCDATA|text|emph|acronym|rule|anchor|ref
                             |cite|bibref|email|VRML|GAMS|Math
                             |inline-block|verbatim|break|graphics
                             |electroniconly|printonly|tabular|picture
                             |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-publisher
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-organization (#PCDATA|text|emph|acronym|rule|anchor
                                |ref|cite|bibref|email|VRML|GAMS|Math
                                |inline-block|verbatim|break|graphics
                                |electroniconly|printonly|tabular
                                |picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-organization
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-institution (#PCDATA|text|emph|acronym|rule|anchor|ref
                               |cite|bibref|email|VRML|GAMS|Math
                               |inline-block|verbatim|break|graphics
                               |electroniconly|printonly|tabular|picture
                               |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-institution
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-address (#PCDATA|text|emph|acronym|rule|anchor|ref
                           |cite|bibref|email|VRML|GAMS|Math
                           |inline-block|verbatim|break|graphics
                           |electroniconly|printonly|tabular|picture
                           |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-address
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-volume (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                          |bibref|email|VRML|GAMS|Math|inline-block
                          |verbatim|break|graphics|electroniconly
                          |printonly|tabular|picture|indexmark|ERROR
                          |declare|mark)*>
<!ATTLIST ns1:bib-volume
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-number (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                          |bibref|email|VRML|GAMS|Math|inline-block
                          |verbatim|break|graphics|electroniconly
                          |printonly|tabular|picture|indexmark|ERROR
                          |declare|mark)*>
<!ATTLIST ns1:bib-number
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-pages (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                         |bibref|email|VRML|GAMS|Math|inline-block
                         |verbatim|break|graphics|electroniconly
                         |printonly|tabular|picture|indexmark|ERROR
                         |declare|mark)*>
<!ATTLIST ns1:bib-pages
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-part (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:bib-part
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-date (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:bib-date
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-edition (#PCDATA|text|emph|acronym|rule|anchor|ref
                           |cite|bibref|email|VRML|GAMS|Math
                           |inline-block|verbatim|break|graphics
                           |electroniconly|printonly|tabular|picture
                           |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-edition
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-status (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                          |bibref|email|VRML|GAMS|Math|inline-block
                          |verbatim|break|graphics|electroniconly
                          |printonly|tabular|picture|indexmark|ERROR
                          |declare|mark)*>
<!ATTLIST ns1:bib-status
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-type (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:bib-type
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-identifier (#PCDATA|text|emph|acronym|rule|anchor|ref
                              |cite|bibref|email|VRML|GAMS|Math
                              |inline-block|verbatim|break|graphics
                              |electroniconly|printonly|tabular|picture
                              |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-identifier
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  scheme CDATA #IMPLIED
  id CDATA #IMPLIED
  href CDATA #IMPLIED>

<!ELEMENT ns1:bib-review (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                          |bibref|email|VRML|GAMS|Math|inline-block
                          |verbatim|break|graphics|electroniconly
                          |printonly|tabular|picture|indexmark|ERROR
                          |declare|mark)*>
<!ATTLIST ns1:bib-review
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  scheme CDATA #IMPLIED
  id CDATA #IMPLIED
  href CDATA #IMPLIED>

<!ELEMENT ns1:bib-links (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                         |bibref|email|VRML|GAMS|Math|inline-block
                         |verbatim|break|graphics|electroniconly
                         |printonly|tabular|picture|indexmark|ERROR
                         |declare|mark)*>
<!ATTLIST ns1:bib-links
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-language (#PCDATA|text|emph|acronym|rule|anchor|ref
                            |cite|bibref|email|VRML|GAMS|Math
                            |inline-block|verbatim|break|graphics
                            |electroniconly|printonly|tabular|picture
                            |indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-language
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-url (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                       |bibref|email|VRML|GAMS|Math|inline-block
                       |verbatim|break|graphics|electroniconly|printonly
                       |tabular|picture|indexmark|ERROR|declare|mark)*>
<!ATTLIST ns1:bib-url
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  href CDATA #IMPLIED>

<!ELEMENT ns1:bib-note (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:bib-note
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bibitem (tag?,bibblock*)>
<!ATTLIST ns1:bibitem
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  key CDATA #REQUIRED>

<!ELEMENT ns1:bibblock (#PCDATA|text|emph|acronym|rule|anchor|ref|cite
                        |bibref|email|VRML|GAMS|Math|inline-block
                        |verbatim|break|graphics|electroniconly
                        |printonly|tabular|picture|indexmark|ERROR
                        |declare|mark)*>
<!ATTLIST ns1:bibblock
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>
