lib/LaTeXML/schema/dtd/LaTeXML.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT ns1:text (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                    |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                    |ns1:inline-block|ns1:verbatim|ns1:break
                    |ns1:graphics|ns1:inline-para|ns1:tabular
                    |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                    |ns1:ERROR)*>
<!ATTLIST ns1:text
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED
  font CDATA #IMPLIED
  fontsize CDATA #IMPLIED
  color CDATA #IMPLIED
  backgroundcolor CDATA #IMPLIED
  opacity CDATA #IMPLIED>

<!ELEMENT ns1:emph (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                    |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                    |ns1:inline-block|ns1:verbatim|ns1:break
                    |ns1:graphics|ns1:inline-para|ns1:tabular
                    |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                    |ns1:ERROR)*>
<!ATTLIST ns1:emph
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:acronym (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                       |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                       |ns1:inline-block|ns1:verbatim|ns1:break
                       |ns1:graphics|ns1:inline-para|ns1:tabular
                       |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*>
<!ATTLIST ns1:acronym
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED>

<!ELEMENT ns1:rule EMPTY>
<!ATTLIST ns1:rule
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED>

<!ELEMENT ns1:ref (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                   |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                   |ns1:inline-block|ns1:verbatim|ns1:break|ns1:graphics
                   |ns1:inline-para|ns1:tabular|ns1:picture|ns1:note
                   |ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:ref
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  idref IDREF #IMPLIED
  labelref CDATA #IMPLIED
  href CDATA #IMPLIED
  show CDATA #IMPLIED
  title CDATA #IMPLIED>

<!ELEMENT ns1:anchor (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                      |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                      |ns1:inline-block|ns1:verbatim|ns1:break
                      |ns1:graphics|ns1:inline-para|ns1:tabular
                      |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                      |ns1:ERROR)*>
<!ATTLIST ns1:anchor
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:cite (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                    |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                    |ns1:inline-block|ns1:verbatim|ns1:break
                    |ns1:graphics|ns1:inline-para|ns1:tabular
                    |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                    |ns1:ERROR)*>
<!ATTLIST ns1:cite
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bibref (ns1:bibrefphrase)*>
<!ATTLIST ns1:bibref
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  idref IDREF #IMPLIED
  bibrefs CDATA #IMPLIED
  show CDATA #IMPLIED
  separator CDATA #IMPLIED
  yyseparator CDATA #IMPLIED>

<!ELEMENT ns1:bibrefphrase (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                            |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                            |ns1:bibref|ns1:Math|ns1:inline-block
                            |ns1:verbatim|ns1:break|ns1:graphics
                            |ns1:inline-para|ns1:tabular|ns1:picture
                            |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bibrefphrase
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:note (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                    |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                    |ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                    |ns1:block|ns1:listingblock|ns1:itemize
                    |ns1:enumerate|ns1:description|ns1:inline-block
                    |ns1:verbatim|ns1:break|ns1:graphics|ns1:inline-para
                    |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark
                    |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:note
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  mark CDATA #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:ERROR (#PCDATA)*>
<!ATTLIST ns1:ERROR
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:indexmark (ns1:indexphrase*,ns1:indexsee*)>
<!ATTLIST ns1:indexmark
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  see_also CDATA #IMPLIED
  style CDATA #IMPLIED>

<!ELEMENT ns1:indexphrase (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                           |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                           |ns1:bibref|ns1:Math|ns1:inline-block
                           |ns1:verbatim|ns1:break|ns1:graphics
                           |ns1:inline-para|ns1:tabular|ns1:picture
                           |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:indexphrase
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  key CDATA #IMPLIED>

<!ELEMENT ns1:indexsee (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:indexsee
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  key CDATA #IMPLIED
  name CDATA #IMPLIED>

<!ELEMENT ns1:rdf (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                   |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                   |ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                   |ns1:block|ns1:listingblock|ns1:itemize|ns1:enumerate
                   |ns1:description|ns1:inline-block|ns1:verbatim
                   |ns1:break|ns1:graphics|ns1:inline-para|ns1:tabular
                   |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                   |ns1:ERROR)*>
<!ATTLIST ns1:rdf
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  property CDATA #IMPLIED
  content CDATA #IMPLIED
  rel CDATA #IMPLIED
  resource CDATA #IMPLIED
  datatype CDATA #IMPLIED
  about CDATA #IMPLIED>

<!ELEMENT ns1:p (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                 |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                 |ns1:inline-block|ns1:verbatim|ns1:break|ns1:graphics
                 |ns1:inline-para|ns1:tabular|ns1:picture|ns1:note
                 |ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:p
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED>

<!ELEMENT ns1:constraint (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                          |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                          |ns1:Math|ns1:inline-block|ns1:verbatim
                          |ns1:break|ns1:graphics|ns1:inline-para
                          |ns1:tabular|ns1:picture|ns1:note
                          |ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:constraint
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  hidden CDATA #IMPLIED>

<!ELEMENT ns1:equation (ns1:Math|ns1:MathFork|ns1:text|ns1:tabular
                        |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR
                        |ns1:constraint)*>
<!ATTLIST ns1:equation
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED>

<!ELEMENT ns1:equationgroup (ns1:equationgroup|ns1:equation|ns1:p
                             |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR
                             |ns1:constraint)*>
<!ATTLIST ns1:equationgroup
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED>

<!ELEMENT ns1:MathFork (ns1:Math,ns1:MathBranch*)>
<!ATTLIST ns1:MathFork
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:MathBranch (ns1:Math|ns1:tr|ns1:td)*>
<!ATTLIST ns1:MathBranch
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  format CDATA #IMPLIED>

<!ELEMENT ns1:quote (ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                     |ns1:block|ns1:listingblock|ns1:itemize
                     |ns1:enumerate|ns1:description|ns1:inline-block
                     |ns1:verbatim|ns1:break|ns1:graphics
                     |ns1:inline-para|ns1:tabular|ns1:picture|ns1:note
                     |ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:quote
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:block (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                     |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                     |ns1:inline-block|ns1:verbatim|ns1:break
                     |ns1:graphics|ns1:inline-para|ns1:tabular
                     |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                     |ns1:ERROR)*>
<!ATTLIST ns1:block
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED>

<!ELEMENT ns1:listingblock ((ns1:p|ns1:equation|ns1:equationgroup|ns1:quote|ns1:block|ns1:listingblock|ns1:itemize|ns1:enumerate|ns1:description|ns1:inline-block|ns1:verbatim|ns1:break|ns1:graphics|ns1:inline-para|ns1:tabular|ns1:picture|ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*)*>
<!ATTLIST ns1:listingblock
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED>

<!ELEMENT ns1:break EMPTY>
<!ATTLIST ns1:break
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:inline-block (ns1:p|ns1:equation|ns1:equationgroup
                            |ns1:quote|ns1:block|ns1:listingblock
                            |ns1:itemize|ns1:enumerate|ns1:description
                            |ns1:inline-block|ns1:verbatim|ns1:break
                            |ns1:graphics|ns1:inline-para|ns1:tabular
                            |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                            |ns1:ERROR)*>
<!ATTLIST ns1:inline-block
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED>

<!ELEMENT ns1:verbatim (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:verbatim
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  font CDATA #IMPLIED
  fontsize CDATA #IMPLIED
  color CDATA #IMPLIED
  backgroundcolor CDATA #IMPLIED
  opacity CDATA #IMPLIED>

<!ELEMENT ns1:itemize (ns1:item)*>
<!ATTLIST ns1:itemize
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:enumerate (ns1:item)*>
<!ATTLIST ns1:enumerate
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:description (ns1:item)*>
<!ATTLIST ns1:description
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:item (ns1:tag?,
                    (ns1:para|ns1:theorem|ns1:proof|ns1:figure|ns1:table
                     |ns1:float|ns1:listing|ns1:TOC|ns1:navigation
                     |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*)>
<!ATTLIST ns1:item
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED>

<!ELEMENT ns1:tag (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                   |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                   |ns1:inline-block|ns1:verbatim|ns1:break|ns1:graphics
                   |ns1:inline-para|ns1:tabular|ns1:picture|ns1:note
                   |ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:tag
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED>

<!ELEMENT ns1:graphics EMPTY>
<!ATTLIST ns1:graphics
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  imagesrc CDATA #IMPLIED
  imagewidth CDATA #IMPLIED
  imageheight CDATA #IMPLIED
  imagedepth CDATA #IMPLIED
  description CDATA #IMPLIED
  graphic CDATA #IMPLIED
  candidates CDATA #IMPLIED
  options CDATA #IMPLIED>

<!ELEMENT ns1:para (ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                    |ns1:block|ns1:listingblock|ns1:itemize
                    |ns1:enumerate|ns1:description|ns1:inline-block
                    |ns1:verbatim|ns1:break|ns1:graphics|ns1:inline-para
                    |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark
                    |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:para
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:inline-para (ns1:para|ns1:theorem|ns1:proof|ns1:figure
                           |ns1:table|ns1:float|ns1:listing|ns1:TOC
                           |ns1:navigation|ns1:note|ns1:indexmark
                           |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:inline-para
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED>

<!ELEMENT ns1:theorem (ns1:title?,
                       (ns1:para|ns1:theorem|ns1:proof|ns1:figure
                        |ns1:table|ns1:float|ns1:listing|ns1:TOC
                        |ns1:navigation|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*)>
<!ATTLIST ns1:theorem
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED>

<!ELEMENT ns1:proof (ns1:title?,
                     (ns1:para|ns1:theorem|ns1:proof|ns1:figure
                      |ns1:table|ns1:float|ns1:listing|ns1:TOC
                      |ns1:navigation|ns1:note|ns1:indexmark|ns1:rdf
                      |ns1:ERROR)*)>
<!ATTLIST ns1:proof
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED>

<!ELEMENT ns1:figure ((ns1:figure
                       |(ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                         |ns1:block|ns1:listingblock|ns1:itemize
                         |ns1:enumerate|ns1:description|ns1:inline-block
                         |ns1:verbatim|ns1:break|ns1:graphics
                         |ns1:inline-para|ns1:tabular|ns1:picture
                         |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*)
                      |ns1:caption|ns1:toccaption)*>
<!ATTLIST ns1:figure
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED
  placement CDATA #IMPLIED>

<!ELEMENT ns1:table ((ns1:table
                      |(ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                        |ns1:block|ns1:listingblock|ns1:itemize
                        |ns1:enumerate|ns1:description|ns1:inline-block
                        |ns1:verbatim|ns1:break|ns1:graphics
                        |ns1:inline-para|ns1:tabular|ns1:picture
                        |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*)
                     |ns1:caption|ns1:toccaption)*>
<!ATTLIST ns1:table
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED
  placement CDATA #IMPLIED>

<!ELEMENT ns1:float ((ns1:float
                      |(ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                        |ns1:block|ns1:listingblock|ns1:itemize
                        |ns1:enumerate|ns1:description|ns1:inline-block
                        |ns1:verbatim|ns1:break|ns1:graphics
                        |ns1:inline-para|ns1:tabular|ns1:picture
                        |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*)
                     |ns1:caption|ns1:toccaption)*>
<!ATTLIST ns1:float
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED
  placement CDATA #IMPLIED>

<!ELEMENT ns1:listing ((ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                        |ns1:block|ns1:listingblock|ns1:itemize
                        |ns1:enumerate|ns1:description|ns1:inline-block
                        |ns1:verbatim|ns1:break|ns1:graphics
                        |ns1:inline-para|ns1:tabular|ns1:picture
                        |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*
                       |ns1:caption|ns1:toccaption)*>
<!ATTLIST ns1:listing
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  depth CDATA #IMPLIED
  pad-width CDATA #IMPLIED
  pad-height CDATA #IMPLIED
  xoffset CDATA #IMPLIED
  yoffset CDATA #IMPLIED
  align (left|center|right|justified) #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  float CDATA #IMPLIED
  framed CDATA #IMPLIED
  placement CDATA #IMPLIED>

<!ELEMENT ns1:caption (#PCDATA|ns1:tag|ns1:text|ns1:emph|ns1:acronym
                       |ns1:rule|ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                       |ns1:Math|ns1:inline-block|ns1:verbatim|ns1:break
                       |ns1:graphics|ns1:inline-para|ns1:tabular
                       |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*>
<!ATTLIST ns1:caption
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  font CDATA #IMPLIED
  fontsize CDATA #IMPLIED
  color CDATA #IMPLIED
  backgroundcolor CDATA #IMPLIED
  opacity CDATA #IMPLIED>

<!ELEMENT ns1:toccaption (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                          |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                          |ns1:Math|ns1:inline-block|ns1:verbatim
                          |ns1:break|ns1:graphics|ns1:inline-para
                          |ns1:tabular|ns1:picture|ns1:note
                          |ns1:indexmark|ns1:rdf|ns1:ERROR|ns1:tag)*>
<!ATTLIST ns1:toccaption
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:Math (ns1:XMath)*>
<!ATTLIST ns1:Math
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  imagesrc CDATA #IMPLIED
  imagewidth CDATA #IMPLIED
  imageheight CDATA #IMPLIED
  imagedepth CDATA #IMPLIED
  description CDATA #IMPLIED
  xml:id ID #IMPLIED
  mode (display|inline) #IMPLIED
  tex CDATA #IMPLIED
  content-tex CDATA #IMPLIED
  text CDATA #IMPLIED>

<!ELEMENT ns1:XMath (ns1:XMApp|ns1:XMTok|ns1:XMRef|ns1:XMHint|ns1:XMArg
                     |ns1:XMWrap|ns1:XMDual|ns1:XMText|ns1:XMArray)*>
<!ATTLIST ns1:XMath
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:XMTok (#PCDATA)*>
<!ATTLIST ns1:XMTok
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED
  font CDATA #IMPLIED
  fontsize CDATA #IMPLIED
  color CDATA #IMPLIED
  backgroundcolor CDATA #IMPLIED
  opacity CDATA #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  omcd CDATA #IMPLIED
  scriptpos CDATA #IMPLIED
  thickness CDATA #IMPLIED
  mathstyle (display|text|script|scriptscript|inline) #IMPLIED>

<!ELEMENT ns1:XMApp (ns1:XMApp|ns1:XMTok|ns1:XMRef|ns1:XMHint|ns1:XMArg
                     |ns1:XMWrap|ns1:XMDual|ns1:XMText|ns1:XMArray)*>
<!ATTLIST ns1:XMApp
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  scriptpos CDATA #IMPLIED>

<!ELEMENT ns1:XMDual ((ns1:XMApp|ns1:XMTok|ns1:XMRef|ns1:XMHint
                       |ns1:XMArg|ns1:XMWrap|ns1:XMDual|ns1:XMText
                       |ns1:XMArray),
                      (ns1:XMApp|ns1:XMTok|ns1:XMRef|ns1:XMHint
                       |ns1:XMArg|ns1:XMWrap|ns1:XMDual|ns1:XMText
                       |ns1:XMArray))>
<!ATTLIST ns1:XMDual
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:XMHint EMPTY>
<!ATTLIST ns1:XMHint
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED>

<!ELEMENT ns1:XMText (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                      |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                      |ns1:inline-block|ns1:verbatim|ns1:break
                      |ns1:graphics|ns1:inline-para|ns1:tabular
                      |ns1:picture)*>
<!ATTLIST ns1:XMText
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED
  scriptpos CDATA #IMPLIED>

<!ELEMENT ns1:XMWrap (ns1:XMApp|ns1:XMTok|ns1:XMRef|ns1:XMHint|ns1:XMArg
                      |ns1:XMWrap|ns1:XMDual|ns1:XMText|ns1:XMArray)*>
<!ATTLIST ns1:XMWrap
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  style CDATA #IMPLIED
  scriptpos CDATA #IMPLIED>

<!ELEMENT ns1:XMArg (ns1:XMApp|ns1:XMTok|ns1:XMRef|ns1:XMHint|ns1:XMArg
                     |ns1:XMWrap|ns1:XMDual|ns1:XMText|ns1:XMArray)*>
<!ATTLIST ns1:XMArg
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED
  rule CDATA #IMPLIED
  scriptpos CDATA #IMPLIED>

<!ELEMENT ns1:XMRef EMPTY>
<!ATTLIST ns1:XMRef
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED
  idref IDREF #IMPLIED>

<!ELEMENT ns1:XMArray (ns1:XMRow)*>
<!ATTLIST ns1:XMArray
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED
  enclose CDATA #IMPLIED
  argopen CDATA #IMPLIED
  argclose CDATA #IMPLIED
  separators CDATA #IMPLIED
  punctuation CDATA #IMPLIED
  lspace CDATA #IMPLIED
  rspace CDATA #IMPLIED
  possibleFunction CDATA #IMPLIED
  xml:id ID #IMPLIED
  name CDATA #IMPLIED
  meaning CDATA #IMPLIED
  omcd CDATA #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  width CDATA #IMPLIED>

<!ELEMENT ns1:XMRow (ns1:XMCell)*>
<!ATTLIST ns1:XMRow
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:XMCell (ns1:XMApp|ns1:XMTok|ns1:XMRef|ns1:XMHint|ns1:XMArg
                      |ns1:XMWrap|ns1:XMDual|ns1:XMText|ns1:XMArray)*>
<!ATTLIST ns1:XMCell
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  colspan CDATA #IMPLIED
  rowspan CDATA #IMPLIED
  align CDATA #IMPLIED
  width CDATA #IMPLIED
  border CDATA #IMPLIED
  thead CDATA #IMPLIED>

<!ELEMENT ns1:tabular (ns1:thead|ns1:tfoot|ns1:tbody|ns1:tr)*>
<!ATTLIST ns1:tabular
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  vattach (top|middle|bottom) #IMPLIED
  width CDATA #IMPLIED>

<!ELEMENT ns1:thead (ns1:tr)*>
<!ATTLIST ns1:thead
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:tfoot (ns1:tr)*>
<!ATTLIST ns1:tfoot
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:tbody (ns1:tr)*>
<!ATTLIST ns1:tbody
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:tr (ns1:td)*>
<!ATTLIST ns1:tr
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:td (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                  |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math|ns1:p
                  |ns1:equation|ns1:equationgroup|ns1:quote|ns1:block
                  |ns1:listingblock|ns1:itemize|ns1:enumerate
                  |ns1:description|ns1:inline-block|ns1:verbatim
                  |ns1:break|ns1:graphics|ns1:inline-para|ns1:tabular
                  |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                  |ns1:ERROR)*>
<!ATTLIST ns1:td
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  colspan CDATA #IMPLIED
  rowspan CDATA #IMPLIED
  align CDATA #IMPLIED
  width CDATA #IMPLIED
  border CDATA #IMPLIED
  thead CDATA #IMPLIED>

<!ELEMENT ns1:picture (ns1:g|ns1:rect|ns1:line|ns1:circle|ns1:path
                       |ns1:arc|ns1:wedge|ns1:ellipse|ns1:polygon
                       |ns1:bezier|ns1:parabola|ns1:curve|ns1:dots
                       |ns1:grid|ns1:clip|ns1:text|ns1:emph|ns1:acronym
                       |ns1:rule|ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                       |ns1:Math|ns1:inline-block|ns1:verbatim|ns1:break
                       |ns1:graphics|ns1:inline-para|ns1:tabular
                       |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*>
<!ATTLIST ns1:picture
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED
  imagesrc CDATA #IMPLIED
  imagewidth CDATA #IMPLIED
  imageheight CDATA #IMPLIED
  imagedepth CDATA #IMPLIED
  description CDATA #IMPLIED
  clip CDATA #IMPLIED
  baseline CDATA #IMPLIED
  unitlength CDATA #IMPLIED
  xunitlength CDATA #IMPLIED
  yunitlength CDATA #IMPLIED
  tex CDATA #IMPLIED
  content-tex CDATA #IMPLIED>

<!ELEMENT ns1:g (ns1:g|ns1:rect|ns1:line|ns1:circle|ns1:path|ns1:arc
                 |ns1:wedge|ns1:ellipse|ns1:polygon|ns1:bezier
                 |ns1:parabola|ns1:curve|ns1:dots|ns1:grid|ns1:clip
                 |ns1:text|ns1:emph|ns1:acronym|ns1:rule|ns1:anchor
                 |ns1:ref|ns1:cite|ns1:bibref|ns1:Math|ns1:inline-block
                 |ns1:verbatim|ns1:break|ns1:graphics|ns1:inline-para
                 |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                 |ns1:ERROR)*>
<!ATTLIST ns1:g
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED
  pos CDATA #IMPLIED
  framed CDATA #IMPLIED
  frametype (rect|circle|oval) #IMPLIED
  fillframe CDATA #IMPLIED
  boxsep CDATA #IMPLIED
  shadowbox CDATA #IMPLIED
  doubleline CDATA #IMPLIED>

<!ELEMENT ns1:rect EMPTY>
<!ATTLIST ns1:rect
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:line EMPTY>
<!ATTLIST ns1:line
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:polygon EMPTY>
<!ATTLIST ns1:polygon
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:wedge EMPTY>
<!ATTLIST ns1:wedge
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:arc EMPTY>
<!ATTLIST ns1:arc
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:circle EMPTY>
<!ATTLIST ns1:circle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:ellipse EMPTY>
<!ATTLIST ns1:ellipse
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:path EMPTY>
<!ATTLIST ns1:path
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:bezier EMPTY>
<!ATTLIST ns1:bezier
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:curve EMPTY>
<!ATTLIST ns1:curve
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:parabola EMPTY>
<!ATTLIST ns1:parabola
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:dots EMPTY>
<!ATTLIST ns1:dots
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:grid EMPTY>
<!ATTLIST ns1:grid
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:clip (ns1:clippath)*>
<!ATTLIST ns1:clip
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:clippath (ns1:g|ns1:rect|ns1:line|ns1:circle|ns1:path
                        |ns1:arc|ns1:wedge|ns1:ellipse|ns1:polygon
                        |ns1:bezier|ns1:parabola|ns1:curve|ns1:dots
                        |ns1:grid|ns1:clip|ns1:text|ns1:emph|ns1:acronym
                        |ns1:rule|ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                        |ns1:Math|ns1:inline-block|ns1:verbatim
                        |ns1:break|ns1:graphics|ns1:inline-para
                        |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark
                        |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:clippath
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  r CDATA #IMPLIED
  rx CDATA #IMPLIED
  ry CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  fill CDATA #IMPLIED
  stroke CDATA #IMPLIED
  stroke-width CDATA #IMPLIED
  stroke-dasharray CDATA #IMPLIED
  transform CDATA #IMPLIED
  terminators CDATA #IMPLIED
  arrowlength CDATA #IMPLIED
  points CDATA #IMPLIED
  showpoints CDATA #IMPLIED
  displayedpoints CDATA #IMPLIED
  arc CDATA #IMPLIED
  angle1 CDATA #IMPLIED
  angle2 CDATA #IMPLIED
  arcsepA CDATA #IMPLIED
  arcsepB CDATA #IMPLIED
  curvature CDATA #IMPLIED>

<!ELEMENT ns1:document ((ns1:subtitle|ns1:date|ns1:abstract
                         |ns1:acknowledgements|ns1:keywords
                         |ns1:classification|ns1:title|ns1:toctitle
                         |ns1:creator|ns1:note|ns1:indexmark|ns1:rdf
                         |ns1:ERROR|ns1:titlepage)*,
                        ((((((((ns1:para|ns1:theorem|ns1:proof
                                |ns1:figure|ns1:table|ns1:float
                                |ns1:listing|ns1:TOC|ns1:navigation
                                |ns1:note|ns1:indexmark|ns1:rdf
                                |ns1:ERROR)*
                               |ns1:paragraph)
                              |ns1:subsubsection)
                             |ns1:subsection)
                            |ns1:section)
                           |ns1:chapter)
                          |ns1:part)
                         |ns1:slide)*,
                        (ns1:bibliography|ns1:appendix|ns1:index
                         |ns1:acknowledgements|ns1:para|ns1:theorem
                         |ns1:proof|ns1:figure|ns1:table|ns1:float
                         |ns1:listing|ns1:TOC|ns1:navigation|ns1:note
                         |ns1:indexmark|ns1:rdf|ns1:ERROR)*)>
<!ATTLIST ns1:document
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:part ((ns1:title|ns1:toctitle|ns1:creator)*,
                    (((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                       |ns1:table|ns1:float|ns1:listing|ns1:TOC
                       |ns1:navigation|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*
                      |ns1:chapter)
                     |ns1:slide)*)>
<!ATTLIST ns1:part
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:chapter ((ns1:title|ns1:toctitle|ns1:creator)*,
                       (((((((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                              |ns1:table|ns1:float|ns1:listing|ns1:TOC
                              |ns1:navigation|ns1:note|ns1:indexmark
                              |ns1:rdf|ns1:ERROR)*
                             |ns1:subparagraph)
                            |ns1:paragraph)
                           |ns1:subsubsection)
                          |ns1:subsection)
                         |ns1:section)
                        |ns1:slide)*)>
<!ATTLIST ns1:chapter
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:section ((ns1:title|ns1:toctitle|ns1:creator)*,
                       ((((((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                             |ns1:table|ns1:float|ns1:listing|ns1:TOC
                             |ns1:navigation|ns1:note|ns1:indexmark
                             |ns1:rdf|ns1:ERROR)*
                            |ns1:subparagraph)
                           |ns1:paragraph)
                          |ns1:subsubsection)
                         |ns1:subsection)
                        |ns1:slide)*)>
<!ATTLIST ns1:section
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:subsection ((ns1:title|ns1:toctitle|ns1:creator)*,
                          (((((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                               |ns1:table|ns1:float|ns1:listing|ns1:TOC
                               |ns1:navigation|ns1:note|ns1:indexmark
                               |ns1:rdf|ns1:ERROR)*
                              |ns1:subparagraph)
                             |ns1:paragraph)
                            |ns1:subsubsection)
                           |ns1:slide)*)>
<!ATTLIST ns1:subsection
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:subsubsection ((ns1:title|ns1:toctitle|ns1:creator)*,
                             ((((ns1:para|ns1:theorem|ns1:proof
                                 |ns1:figure|ns1:table|ns1:float
                                 |ns1:listing|ns1:TOC|ns1:navigation
                                 |ns1:note|ns1:indexmark|ns1:rdf
                                 |ns1:ERROR)*
                                |ns1:subparagraph)
                               |ns1:paragraph)
                              |ns1:slide)*)>
<!ATTLIST ns1:subsubsection
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:paragraph ((ns1:title|ns1:toctitle|ns1:creator)*,
                         (((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                            |ns1:table|ns1:float|ns1:listing|ns1:TOC
                            |ns1:navigation|ns1:note|ns1:indexmark
                            |ns1:rdf|ns1:ERROR)*
                           |ns1:subparagraph)
                          |ns1:slide)*)>
<!ATTLIST ns1:paragraph
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:subparagraph ((ns1:title|ns1:toctitle|ns1:creator)*,
                            ((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                              |ns1:table|ns1:float|ns1:listing|ns1:TOC
                              |ns1:navigation|ns1:note|ns1:indexmark
                              |ns1:rdf|ns1:ERROR)*
                             |ns1:slide)*)>
<!ATTLIST ns1:subparagraph
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:slide ((ns1:title|ns1:toctitle|ns1:creator)*,
                     ((ns1:para|ns1:theorem|ns1:proof|ns1:figure|ns1:table|ns1:float|ns1:listing|ns1:TOC|ns1:navigation|ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*)*)>
<!ATTLIST ns1:slide
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:appendix ((ns1:title|ns1:toctitle|ns1:creator)*,
                        (((((((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                               |ns1:table|ns1:float|ns1:listing|ns1:TOC
                               |ns1:navigation|ns1:note|ns1:indexmark
                               |ns1:rdf|ns1:ERROR)*
                              |ns1:subparagraph)
                             |ns1:paragraph)
                            |ns1:subsubsection)
                           |ns1:subsection)
                          |ns1:section)
                         |ns1:slide)*)>
<!ATTLIST ns1:appendix
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:bibliography ((ns1:subtitle|ns1:date|ns1:abstract
                             |ns1:acknowledgements|ns1:keywords
                             |ns1:classification)*,
                            (ns1:title|ns1:toctitle|ns1:creator)*,
                            ((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                              |ns1:table|ns1:float|ns1:listing|ns1:TOC
                              |ns1:navigation|ns1:note|ns1:indexmark
                              |ns1:rdf|ns1:ERROR)*
                             |ns1:biblist)*)>
<!ATTLIST ns1:bibliography
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED
  files CDATA #IMPLIED>

<!ELEMENT ns1:index ((ns1:title|ns1:toctitle|ns1:creator)*,
                     ((ns1:para|ns1:theorem|ns1:proof|ns1:figure
                       |ns1:table|ns1:float|ns1:listing|ns1:TOC
                       |ns1:navigation|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*
                      |ns1:indexlist)*)>
<!ATTLIST ns1:index
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:indexlist (ns1:indexentry)*>
<!ATTLIST ns1:indexlist
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:indexentry (ns1:indexphrase,ns1:indexrefs?,
                          ns1:indexlist?)>
<!ATTLIST ns1:indexentry
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED>

<!ELEMENT ns1:indexrefs (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                         |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                         |ns1:Math|ns1:inline-block|ns1:verbatim
                         |ns1:break|ns1:graphics|ns1:inline-para
                         |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark
                         |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:indexrefs
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:title (#PCDATA|ns1:tag|ns1:text|ns1:emph|ns1:acronym
                     |ns1:rule|ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                     |ns1:Math|ns1:inline-block|ns1:verbatim|ns1:break
                     |ns1:graphics|ns1:inline-para|ns1:tabular
                     |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                     |ns1:ERROR)*>
<!ATTLIST ns1:title
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  font CDATA #IMPLIED
  fontsize CDATA #IMPLIED
  color CDATA #IMPLIED
  backgroundcolor CDATA #IMPLIED
  opacity CDATA #IMPLIED>

<!ELEMENT ns1:toctitle (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR|ns1:tag)*>
<!ATTLIST ns1:toctitle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:subtitle (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:subtitle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:creator (ns1:personname|ns1:contact|ns1:inline-block
                       |ns1:verbatim|ns1:break|ns1:graphics
                       |ns1:inline-para|ns1:tabular|ns1:picture)*>
<!ATTLIST ns1:creator
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:personname (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                          |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                          |ns1:Math|ns1:inline-block|ns1:verbatim
                          |ns1:break|ns1:graphics|ns1:inline-para
                          |ns1:tabular|ns1:picture|ns1:note
                          |ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:personname
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:contact (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                       |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                       |ns1:inline-block|ns1:verbatim|ns1:break
                       |ns1:graphics|ns1:inline-para|ns1:tabular
                       |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*>
<!ATTLIST ns1:contact
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:date (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                    |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                    |ns1:inline-block|ns1:verbatim|ns1:break
                    |ns1:graphics|ns1:inline-para|ns1:tabular
                    |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                    |ns1:ERROR)*>
<!ATTLIST ns1:date
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:abstract (ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                        |ns1:block|ns1:listingblock|ns1:itemize
                        |ns1:enumerate|ns1:description|ns1:inline-block
                        |ns1:verbatim|ns1:break|ns1:graphics
                        |ns1:inline-para|ns1:tabular|ns1:picture
                        |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:abstract
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED>

<!ELEMENT ns1:acknowledgements (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                                |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                                |ns1:bibref|ns1:Math|ns1:inline-block
                                |ns1:verbatim|ns1:break|ns1:graphics
                                |ns1:inline-para|ns1:tabular|ns1:picture
                                |ns1:note|ns1:indexmark|ns1:rdf
                                |ns1:ERROR)*>
<!ATTLIST ns1:acknowledgements
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED>

<!ELEMENT ns1:keywords (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:keywords
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED>

<!ELEMENT ns1:classification (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                              |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                              |ns1:bibref|ns1:Math|ns1:inline-block
                              |ns1:verbatim|ns1:break|ns1:graphics
                              |ns1:inline-para|ns1:tabular|ns1:picture
                              |ns1:note|ns1:indexmark|ns1:rdf
                              |ns1:ERROR)*>
<!ATTLIST ns1:classification
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED
  scheme CDATA #IMPLIED>

<!ELEMENT ns1:titlepage (ns1:subtitle|ns1:date|ns1:abstract
                         |ns1:acknowledgements|ns1:keywords
                         |ns1:classification|ns1:title|ns1:toctitle
                         |ns1:creator|ns1:p|ns1:equation
                         |ns1:equationgroup|ns1:quote|ns1:block
                         |ns1:listingblock|ns1:itemize|ns1:enumerate
                         |ns1:description)*>
<!ATTLIST ns1:titlepage
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  labels CDATA #IMPLIED
  refnum CDATA #IMPLIED
  frefnum CDATA #IMPLIED
  rdf-prefixes CDATA #IMPLIED>

<!ELEMENT ns1:TOC (ns1:toclist)?>
<!ATTLIST ns1:TOC
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  name CDATA #IMPLIED
  role CDATA #IMPLIED
  select CDATA #IMPLIED
  format CDATA #IMPLIED>

<!ELEMENT ns1:toclist (ns1:tocentry)*>
<!ATTLIST ns1:toclist
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:tocentry (ns1:ref|ns1:toclist)*>
<!ATTLIST ns1:tocentry
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:navigation (ns1:ref|ns1:TOC)*>
<!ATTLIST ns1:navigation
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:biblist (ns1:bibentry|ns1:bibitem)*>
<!ATTLIST ns1:biblist
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bibitem (ns1:bibtag*,ns1:bibblock*)>
<!ATTLIST ns1:bibitem
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  key CDATA #IMPLIED>

<!ELEMENT ns1:bibtag (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                      |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                      |ns1:inline-block|ns1:verbatim|ns1:break
                      |ns1:graphics|ns1:inline-para|ns1:tabular
                      |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                      |ns1:ERROR)*>
<!ATTLIST ns1:bibtag
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  role CDATA #IMPLIED
  open CDATA #IMPLIED
  close CDATA #IMPLIED>

<!ELEMENT ns1:bibblock (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:p|ns1:equation|ns1:equationgroup|ns1:quote
                        |ns1:block|ns1:listingblock|ns1:itemize
                        |ns1:enumerate|ns1:description|ns1:inline-block
                        |ns1:verbatim|ns1:break|ns1:graphics
                        |ns1:inline-para|ns1:tabular|ns1:picture
                        |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bibblock
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:bibentry (ns1:bib-name|ns1:bib-title|ns1:bib-subtitle
                        |ns1:bib-key|ns1:bib-type|ns1:bib-date
                        |ns1:bib-publisher|ns1:bib-organization
                        |ns1:bib-place|ns1:bib-part|ns1:bib-related
                        |ns1:bib-edition|ns1:bib-status|ns1:bib-language
                        |ns1:bib-url|ns1:bib-note|ns1:bib-extract
                        |ns1:bib-identifier|ns1:bib-review|ns1:bib-links
                        |ns1:bib-data)*>
<!ATTLIST ns1:bibentry
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  xml:id ID #IMPLIED
  key CDATA #REQUIRED
  type CDATA #REQUIRED>

<!ELEMENT ns1:bib-name (ns1:surname,ns1:givenname?,ns1:lineage?)>
<!ATTLIST ns1:bib-name
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:surname (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                       |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                       |ns1:inline-block|ns1:verbatim|ns1:break
                       |ns1:graphics|ns1:inline-para|ns1:tabular
                       |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*>
<!ATTLIST ns1:surname
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:givenname (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                         |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                         |ns1:Math|ns1:inline-block|ns1:verbatim
                         |ns1:break|ns1:graphics|ns1:inline-para
                         |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark
                         |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:givenname
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:lineage (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                       |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                       |ns1:inline-block|ns1:verbatim|ns1:break
                       |ns1:graphics|ns1:inline-para|ns1:tabular
                       |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*>
<!ATTLIST ns1:lineage
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'>

<!ELEMENT ns1:bib-title (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                         |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                         |ns1:Math|ns1:inline-block|ns1:verbatim
                         |ns1:break|ns1:graphics|ns1:inline-para
                         |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark
                         |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-title
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-subtitle (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                            |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                            |ns1:bibref|ns1:Math|ns1:inline-block
                            |ns1:verbatim|ns1:break|ns1:graphics
                            |ns1:inline-para|ns1:tabular|ns1:picture
                            |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-subtitle
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-key (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                       |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                       |ns1:inline-block|ns1:verbatim|ns1:break
                       |ns1:graphics|ns1:inline-para|ns1:tabular
                       |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*>
<!ATTLIST ns1:bib-key
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-type (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:bib-type
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-date (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:bib-date
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:bib-publisher (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                             |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                             |ns1:bibref|ns1:Math|ns1:inline-block
                             |ns1:verbatim|ns1:break|ns1:graphics
                             |ns1:inline-para|ns1:tabular|ns1:picture
                             |ns1:note|ns1:indexmark|ns1:rdf
                             |ns1:ERROR)*>
<!ATTLIST ns1:bib-publisher
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-organization (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                                |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                                |ns1:bibref|ns1:Math|ns1:inline-block
                                |ns1:verbatim|ns1:break|ns1:graphics
                                |ns1:inline-para|ns1:tabular|ns1:picture
                                |ns1:note|ns1:indexmark|ns1:rdf
                                |ns1:ERROR)*>
<!ATTLIST ns1:bib-organization
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-place (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                         |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                         |ns1:Math|ns1:inline-block|ns1:verbatim
                         |ns1:break|ns1:graphics|ns1:inline-para
                         |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark
                         |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-place
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-related (ns1:bib-name|ns1:bib-title|ns1:bib-subtitle
                           |ns1:bib-key|ns1:bib-type|ns1:bib-date
                           |ns1:bib-publisher|ns1:bib-organization
                           |ns1:bib-place|ns1:bib-part|ns1:bib-related
                           |ns1:bib-edition|ns1:bib-status
                           |ns1:bib-language|ns1:bib-url|ns1:bib-note
                           |ns1:bib-extract|ns1:bib-identifier
                           |ns1:bib-review|ns1:bib-links|ns1:bib-data)*>
<!ATTLIST ns1:bib-related
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  type CDATA #IMPLIED
  role CDATA #IMPLIED
  bibrefs CDATA #IMPLIED>

<!ELEMENT ns1:bib-part (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:bib-part
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:bib-edition (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                           |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                           |ns1:bibref|ns1:Math|ns1:inline-block
                           |ns1:verbatim|ns1:break|ns1:graphics
                           |ns1:inline-para|ns1:tabular|ns1:picture
                           |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-edition
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-status (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                          |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                          |ns1:Math|ns1:inline-block|ns1:verbatim
                          |ns1:break|ns1:graphics|ns1:inline-para
                          |ns1:tabular|ns1:picture|ns1:note
                          |ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-status
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-identifier (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                              |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                              |ns1:bibref|ns1:Math|ns1:inline-block
                              |ns1:verbatim|ns1:break|ns1:graphics
                              |ns1:inline-para|ns1:tabular|ns1:picture
                              |ns1:note|ns1:indexmark|ns1:rdf
                              |ns1:ERROR)*>
<!ATTLIST ns1:bib-identifier
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  scheme CDATA #IMPLIED
  id CDATA #IMPLIED
  href CDATA #IMPLIED>

<!ELEMENT ns1:bib-review (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                          |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                          |ns1:Math|ns1:inline-block|ns1:verbatim
                          |ns1:break|ns1:graphics|ns1:inline-para
                          |ns1:tabular|ns1:picture|ns1:note
                          |ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-review
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  scheme CDATA #IMPLIED
  id CDATA #IMPLIED
  href CDATA #IMPLIED>

<!ELEMENT ns1:bib-links (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                         |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref
                         |ns1:Math|ns1:inline-block|ns1:verbatim
                         |ns1:break|ns1:graphics|ns1:inline-para
                         |ns1:tabular|ns1:picture|ns1:note|ns1:indexmark
                         |ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-links
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-language (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                            |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                            |ns1:bibref|ns1:Math|ns1:inline-block
                            |ns1:verbatim|ns1:break|ns1:graphics
                            |ns1:inline-para|ns1:tabular|ns1:picture
                            |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-language
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED>

<!ELEMENT ns1:bib-url (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                       |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                       |ns1:inline-block|ns1:verbatim|ns1:break
                       |ns1:graphics|ns1:inline-para|ns1:tabular
                       |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                       |ns1:ERROR)*>
<!ATTLIST ns1:bib-url
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  href CDATA #IMPLIED>

<!ELEMENT ns1:bib-extract (#PCDATA|ns1:text|ns1:emph|ns1:acronym
                           |ns1:rule|ns1:anchor|ns1:ref|ns1:cite
                           |ns1:bibref|ns1:Math|ns1:inline-block
                           |ns1:verbatim|ns1:break|ns1:graphics
                           |ns1:inline-para|ns1:tabular|ns1:picture
                           |ns1:note|ns1:indexmark|ns1:rdf|ns1:ERROR)*>
<!ATTLIST ns1:bib-extract
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:bib-note (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:bib-note
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED>

<!ELEMENT ns1:bib-data (#PCDATA|ns1:text|ns1:emph|ns1:acronym|ns1:rule
                        |ns1:anchor|ns1:ref|ns1:cite|ns1:bibref|ns1:Math
                        |ns1:inline-block|ns1:verbatim|ns1:break
                        |ns1:graphics|ns1:inline-para|ns1:tabular
                        |ns1:picture|ns1:note|ns1:indexmark|ns1:rdf
                        |ns1:ERROR)*>
<!ATTLIST ns1:bib-data
  xmlns:ns1 CDATA #FIXED 'http://dlmf.nist.gov/LaTeXML'
  class NMTOKENS #IMPLIED
  role CDATA #IMPLIED
  type CDATA #IMPLIED>
