t/xii.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ======================================================================
     Document type for David Carlisle's xii
     ====================================================================== -->

<!ELEMENT song (verse*)>
<!ELEMENT verse (line*)>
<!ELEMENT line (#PCDATA)>
