lib/LaTeXML/schema/RelaxNG/DLMF.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  /=====================================================================\ 
  |  LaTeXML.rnc                                                        |
  | Document Type for LaTeXML generated documents                       |
  |=====================================================================|
  | Part of LaTeXML:                                                    |
  |  Public domain software, produced as part of work done by the       |
  |  United States Government & not subject to copyright in the US.     |
  |=====================================================================|
  | Bruce Miller <bruce.miller@nist.gov>                        #_#     |
  | http://dlmf.nist.gov/LaTeXML/                              (o o)    |
  \=========================================================ooo==U==ooo=/
-->
<grammar ns="http://dlmf.nist.gov/LaTeXML" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  <!-- ====================================================================== -->
  <include href="LaTeXML-common.rng"/>
  <!--
    ======================================================================
    Inline
  -->
  <!--
    Include inline, but remove note from Meta.class.
    We want it to migrate into the metadata container.
  -->
  <include href="LaTeXML-inline.rng">
    <define name="Meta.class" combine="choice">
      <choice>
        <ref name="indexmark"/>
        <ref name="ERROR"/>
        <ref name="declare"/>
        <ref name="mark"/>
      </choice>
    </define>
  </include>
  <!--
    Extra Inline elements
    Is this really needed? Isn't it a case of ref?
  -->
  <define name="email">
    <element name="email">
      <ref name="Inline.model"/>
    </element>
  </define>
  <define name="VRML">
    <element name="VRML">
      <optional>
        <attribute name="href"/>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="GAMS">
    <element name="GAMS">
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="package"/>
      </optional>
      <optional>
        <attribute name="module"/>
      </optional>
      <optional>
        <attribute name="module_id"/>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="Inline.class" combine="choice">
    <choice>
      <ref name="email"/>
      <ref name="VRML"/>
      <ref name="GAMS"/>
    </choice>
  </define>
  <!-- ====================================================================== -->
  <include href="LaTeXML-block.rng"/>
  <define name="EquationMeta.class" combine="choice">
    <ref name="metadata"/>
  </define>
  <!-- ====================================================================== -->
  <include href="LaTeXML-para.rng"/>
  <!-- Extra Para elements -->
  <define name="figuregroup">
    <element name="figuregroup">
      <zeroOrMore>
        <ref name="figure"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="tablegroup">
    <element name="tablegroup">
      <zeroOrMore>
        <ref name="table"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="begin_onecolumn">
    <element name="begin_onecolumn">
      <empty/>
    </element>
  </define>
  <define name="end_onecolumn">
    <element name="end_onecolumn">
      <empty/>
    </element>
  </define>
  <define name="electroniconly">
    <element name="electroniconly">
      <ref name="Flow.model"/>
    </element>
  </define>
  <define name="printonly">
    <element name="printonly">
      <ref name="Flow.model"/>
    </element>
  </define>
  <define name="Para.class" combine="choice">
    <choice>
      <ref name="figuregroup"/>
      <ref name="tablegroup"/>
      <ref name="begin_onecolumn"/>
      <ref name="end_onecolumn"/>
    </choice>
  </define>
  <define name="Misc.class" combine="choice">
    <choice>
      <ref name="electroniconly"/>
      <ref name="printonly"/>
    </choice>
  </define>
  <!-- Extra Metadata -->
  <define name="origref">
    <element name="origref">
      <optional>
        <attribute name="ref"/>
      </optional>
      <ref name="Inline.model"/>
    </element>
  </define>
  <define name="declare">
    <element name="declare">
      <ref name="ID.attributes"/>
      <optional>
        <ref name="tag"/>
      </optional>
    </element>
  </define>
  <define name="mark">
    <element name="mark">
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <ref name="tag"/>
      </optional>
      <ref name="text"/>
    </element>
  </define>
  <define name="metadata">
    <element name="metadata">
      <ref name="ID.attributes"/>
      <zeroOrMore>
        <choice>
          <ref name="note"/>
          <ref name="origref"/>
          <ref name="indexkeyword"/>
          <ref name="acknowledgements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="indexkeyword">
    <element name="indexkeyword">
      <optional>
        <attribute name="key"/>
      </optional>
      <ref name="Inline.model"/>
    </element>
  </define>
  <!-- Add metadata alongside captions, so we can get it in figures & tables. -->
  <define name="Caption.class" combine="choice">
    <ref name="metadata"/>
  </define>
  <!-- ====================================================================== -->
  <include href="LaTeXML-math.rng"/>
  <!--
    Add dec_id attribute to XMath ????
    It's for the id of this when used as declaration (or something)
  -->
  <define name="XMath.attributes" combine="interleave">
    <optional>
      <attribute name="dec_id"/>
    </optional>
  </define>
  <!-- ====================================================================== -->
  <include href="LaTeXML-tabular.rng"/>
  <include href="LaTeXML-picture.rng"/>
  <!--
    ======================================================================
    Document structure.
    The key here is the perversity of swapping chapter & part.
    Also, we're allowing chapter be a main document element
    with FrontMatter
    We're also stricterabout chapter and part's contents
  -->
  <include href="LaTeXML-structure.rng">
    <define name="chapter">
      <element name="chapter">
        <ref name="Common.attributes"/>
        <ref name="Labelled.attributes"/>
        <zeroOrMore>
          <!-- Expand FrontMatter.class w/o acknowledgements, so they move to metadata -->
          <choice>
            <ref name="subtitle"/>
            <ref name="date"/>
            <ref name="abstract"/>
            <ref name="keywords"/>
            <ref name="classification"/>
            <!-- Add the additional gallery items -->
            <ref name="sidebar"/>
            <ref name="gallery"/>
            <ref name="copyright"/>
            <!-- and the normal sectional frontmatter -->
            <ref name="SectionalFrontMatter.class"/>
            <ref name="Meta.class"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="part"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="part">
      <element name="part">
        <ref name="Common.attributes"/>
        <ref name="Labelled.attributes"/>
        <zeroOrMore>
          <choice>
            <ref name="SectionalFrontMatter.class"/>
            <ref name="Meta.class"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="section"/>
        </zeroOrMore>
      </element>
    </define>
    <!-- Redefined to allow idref. -->
    <define name="creator">
      <element name="creator">
        <ref name="Common.attributes"/>
        <optional>
          <attribute name="idref"/>
        </optional>
        <optional>
          <attribute name="role"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="Person.class"/>
            <ref name="Misc.class"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
  </include>
  <!-- Extra chapter FrontMatter -->
  <define name="sidebar">
    <element name="sidebar">
      <ref name="Labelled.attributes"/>
      <optional>
        <attribute name="name"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="FrontMatter.class"/>
          <ref name="SectionalFrontMatter.class"/>
        </choice>
      </zeroOrMore>
      <ref name="Para.model"/>
    </element>
  </define>
  <define name="gallery">
    <element name="gallery">
      <zeroOrMore>
        <ref name="galleryitem"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="galleryitem">
    <element name="galleryitem">
      <optional>
        <attribute name="graphic"/>
      </optional>
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="labelref"/>
      </optional>
      <zeroOrMore>
        <ref name="graphics"/>
      </zeroOrMore>
    </element>
  </define>
  <!-- Isn't this already covered somewhere in frontmatter? -->
  <define name="copyright">
    <element name="copyright">
      <optional>
        <attribute name="year"/>
      </optional>
      <ref name="Inline.model"/>
    </element>
  </define>
  <define name="SectionalFrontMatter.class" combine="choice">
    <ref name="metadata"/>
  </define>
  <!--
    ======================================================================
    Notations
  -->
  <define name="notations">
    <element name="notations">
      <a:documentation>A Notation document.</a:documentation>
      <ref name="Common.attributes"/>
      <ref name="Labelled.attributes"/>
      <zeroOrMore>
        <ref name="SectionalFrontMatter.class"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="notationlist"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="notationlist">
    <element name="notationlist">
      <a:documentation>An notation list generated from the collection of \elementref{Mark} in a document
(or document collection).</a:documentation>
      <ref name="Common.attributes"/>
      <ref name="ID.attributes"/>
      <zeroOrMore>
        <ref name="notationitem"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="notationitem">
    <element name="notationitem">
      <a:documentation>An entry in an \elementref{notationlist} consisting of a phrase, references to
points in the document where the phrase was found, and possibly
a nested \elementref{notationlist} represented notation levels below this one.</a:documentation>
      <ref name="Common.attributes"/>
      <ref name="ID.attributes"/>
      <ref name="tag"/>
      <ref name="text"/>
    </element>
  </define>
  <!--
    ======================================================================
    Bibliography
  -->
  <include href="LaTeXML-bib.rng"/>
  <!--
    ======================================================================
    Combine the contributions from the several modules
  -->
  <define name="Inline.model">
    <a:documentation>Combined model for inline content.</a:documentation>
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="Inline.class"/>
        <ref name="Misc.class"/>
        <ref name="Meta.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="Block.model">
    <a:documentation>Combined model for physical block-level content.</a:documentation>
    <zeroOrMore>
      <choice>
        <ref name="Block.class"/>
        <ref name="Misc.class"/>
        <ref name="Meta.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="Flow.model">
    <a:documentation>Combined model for general flow containing both inline and block level content.</a:documentation>
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="Inline.class"/>
        <ref name="Block.class"/>
        <ref name="Misc.class"/>
        <ref name="Meta.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="Para.model">
    <a:documentation>Combined model for logical block-level context.</a:documentation>
    <zeroOrMore>
      <choice>
        <ref name="Para.class"/>
        <ref name="Meta.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <start>
    <choice>
      <ref name="document"/>
      <ref name="chapter"/>
      <ref name="bibliography"/>
      <ref name="index"/>
      <ref name="notations"/>
    </choice>
  </start>
</grammar>
